<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Delete Item</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModalDeleteItem()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="doSaveDelete()">
      <div class="list">
        <label class="item">
          <div class="col-offset-15">
            <h3> Are you sure you want to delete this? </h3>
            <img ng-src="{{items[matchId].picture}}" width="320px" height="320px">
          </div>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">YES</button>
          <button class="button button-block button-assertive" ng-click="$scope.modal.hide">No</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-modal-view>