<ion-view view-title="Item Profile">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="col-offset-8">
          <img ng-src="">
          <br>
          <h2 class="info-content">
            {{ item.itemName }}
          </h2>
          <h2 class="info-content">
            {{ item.itemDescription }}
          </h2>
        </div>
      </div>
    </div>

    <button class="button button-block button-positive" ng-click="editItem()">
      Edit
    </button>

    <button class="button button-block button-assertive" ng-click="confirmDelete()">
      Delete
    </button>

  </ion-content>
</ion-view>
