<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login with Facebook</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModalFBLogin()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form class= "fb" ng-submit="signIn()">
      <img ng-src="../../img/facebook.png" width="200px" height="200px">
      <button class="button button-positive" type="submit">Login with Facebook</button>
      </div>
    </form>
  </ion-content>

</ion-modal-view>