<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Add New Item</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModalNewItem()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="addNewItem()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Item Name</span>
          <input type="text" ng-model="items.newItemName">
        </label>
        <label class="item item-input">
          <span class="input-label">Item Description</span>
          <input type="text" ng-model="items.newItemDescription">
        </label>
        <label class="item">
          <button class="button button-block button-stable" ng-click="previewPicture=true">Upload Image</button>
          <div class="col-offset-15" ng-show="previewPicture">
          <img ng-src="" width="320px" height="320px">
            <!-- <img ng-src="{{items[6].picture}}" width="320px" height="320px"> -->
          </div>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="closeModalNewItem()">Save</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-modal-view>