<ion-view view-title="My Items">
  <ion-content class="padding">

  <button class="button button-calm button-block" ng-click="addItem()">
    Add New Item
  </button>

  <h3>Existing Items</h3>

  <div ng-repeat="item in items track by $index" ng-if="$index % 3 === 0">
    <div class="row">
      <div class="col col-33">
        <img ng-src="{{items[$index].picture}}" width="140px" height="140px" ng-click="toYourItem($index)">
      </div>

      <div class="col col-33">
        <img ng-src="{{items[$index+1].picture}}" width="140px" height="140px" ng-click="toYourItem($index+1)">
      </div>

      <div class="col col-33">
        <img ng-src="{{items[$index+2].picture}}" width="140px" height="140px" ng-click="toYourItem($index+2)">
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>
