<ion-view view-title="My Items">
  <ion-content class="padding">

  <button class="button button-calm button-block" ng-click="addItem()">
    Add New Item
  </button>

  <h3>Existing Items</h3>

  <div ng-repeat="itemsGroup in itemsGroups">
    <div class="row">
      <div class="col col-33" ng-repeat="item in itemsGroup" ng-click="toYourItem(item)">
        {{  item.$id }}
        {{  item.itemName }}
        {{  item.itemDescription }}
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
