<ion-view view-title="Timber">
  <ion-content class="padding">
      <td-cards>
        <div ng-repeat="card in cards">

          <td-card on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
            <div class="image">
              <img ng-src="{{card.imageUrl}}"><br/>
              {{card.itemName}}
            </div>
          </td-card>

          <div class="no-text">
            <button class="button button-light" ng-click="cardSwipedLeft($index)">
              <img ng-src="img/cross.jpeg" width="100px" height="100px">
            </button>
          </div>

          <div class="yes-text">
              <button class="button button-light" ng-click="cardSwipedRight($index)">
              <img ng-src="img/heart.png" width="100px" height="100px">
            </button>
          </div>

        </div>
      </td-cards>

  </ion-content>
</ion-view>