@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .card img {
    width:270px;
    height:270px;
  }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .card img {
    width:320px;
    height:320px;
  }
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
  .card img {
    width:360px;
    height:360px;
  }
}