@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .col img{
    width:95px;
    height:95px;
  }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .col img{
    width:110px;
    height:110px;
  }
}