.new-item{
  width: 100%;
}

.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.box {
  float: left;
  position: relative;
  width: 33.3%;
  padding-bottom: 33.3%;
}

.boxInner img {
  width: 100%;
}